TELEGRAM_BOT_TOKEN=80xxxxxxxxxxxxxxx
AI_LOCAL_LLM_URL=https://xxxxxxxx?token=mxxxxxxxxxx
AI_MODEL=openai
DB_PATH=e:\PROGRAMMING\GO\FacilitatorBot\telegram_bot.db
ALLOWED_GROUPS=-10081670,-1008476,-10020030, -10027550
AI_IMAGE_URL=https://xxxxxxxxxxxxxx/prompt/

SPAM_PATTERNS="(?i)(http|t.me)\S+,(?i)скам,\d{10}" 
SPAM_ADMIN_ALERT=true