#!/sbin/openrc-run

name="Facilitator Telegram Bot"
description="Telegram bot for facilitation tasks"

command="/opt/FacilitatorBot/bin/facilitator-bot"
command_args=""
command_user="root:root"
pidfile="/var/run/facilitator-bot.pid"
working_directory="/opt/FacilitatorBot/repo"

depend() {
    need net
    after firewall
}

start_pre() {
    checkpath -f -m 0644 -o root:root /var/log/facilitator-bot.log
}

start() {
    ebegin "Starting $name"
    start-stop-daemon --start \
        --exec $command \
        --user $command_user \
        --pidfile $pidfile \
        --make-pidfile \
        --background \
        --stdout /var/log/facilitator-bot.log \
        --stderr /var/log/facilitator-bot.log
    eend $?
}

stop() {
    ebegin "Stopping $name"
    start-stop-daemon --stop \
        --exec $command \
        --pidfile $pidfile
    eend $?
}